.navbar {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 2rem;
  background-color: var(--white);
  z-index: 101;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.linksContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 1.875rem;
  font-weight: 700;
}

.navbarLink {
  font-size: 1rem;
  margin-right: 1.75rem;
  color: var(--grey);
  cursor: pointer;
}

.mobileLink {
  color: var(--black);
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 1rem;
  padding: 1.2rem;
  padding-bottom: 0rem;
  margin-bottom: 0rem;
  font-weight: 500;
}

.mobileLink:hover,
.navbarLink:hover {
  text-decoration: none;
  color: var(--blue);
  transition: 0.2s all;
}

.mobileNavbar {
  display: none;
}

@media (max-width: 1024px) {
  .navbar {
    height: 3.5rem;
    padding: 0rem 1.25rem;
  }

  .title {
    font-size: 1.5rem;
  }

  .navbarLink {
    font-size: 0.75rem;
    margin-right: 1.5rem;
  }
}

@media (max-width: 640px) {
  .navbar {
    height: 3rem;
    padding: 0rem 1rem;
  }

  .title {
    font-size: 1.25rem;
  }

  .linksContainer {
    display: none;
  }

  .mobileNavbar {
    display: block;
  }
}
