.container {
  margin: 2rem 0rem;
}

.input {
  padding: 1rem 0.5rem;
  border: 1px solid var(--grey);
  width: 100%;
  border-radius: 0.5rem;
  background-color: var(--white);
  color: var(--black);
}

.textarea {
  padding: 1rem 0.5rem;
  border: 1px solid var(--grey);
  width: 100%;
  border-radius: 0.5rem;
  background-color: var(--white);
  color: var(--black);
  min-height: 3.5rem;
  height: 6rem;
  resize: vertical;
}

.textarea::-webkit-scrollbar {
  width: 0.2rem;
}

.title {
  margin-bottom: 0.5rem;
  color: var(--black);
  font-weight: 500;
}

.input:focus,
.textarea:focus {
  outline: none;
  border: 1px solid var(--dashboardTheme);
}

.input::placeholder,
.textarea::placeholder {
  font-size: 1rem;
}

.desc {
  color: var(--grey) !important;
}

.desc2 {
  color: var(--black) !important;
}

.error {
  color: var(--error);
}

@media (max-width: 1024px) {
  .container {
    margin: 1.75rem 0rem;
  }

  .input,
  .textarea {
    padding: 0.875rem 0.375rem;
  }

  .input::placeholder,
  .textarea::placeholder {
    font-size: 0.875rem;
  }
}

@media (max-width: 640px) {
  .container {
    margin: 1.5rem 0rem;
  }

  .input,
  .textarea {
    padding: 0.75rem 0.375rem;
  }

  .textarea {
    min-height: 2.75rem;
  }

  .input::placeholder,
  .textarea::placeholder {
    font-size: 0.75rem;
  }
}
