.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 4rem;
  height: 100vh;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  overflow: hidden;
}

.img,
.img2 {
  width: 275px;
  height: 500px;
  margin-bottom: 0.75rem;
}

.imagesFlex {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 50%;
  transform: rotate(-30deg);
  margin-top: 50vh;
}

.imagesColumnLeft,
.imagesColumnRight {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: min-content;
}

.imagesColumnLeft {
  margin-top: -7rem;
}

.info {
  margin-left: 10rem;
  color: var(--black);
}

.para {
  color: var(--grey);
  margin-bottom: 2rem;
  width: 75%;
}

.logo {
  width: 100%;
  max-width: 400px;
}

@media (max-width: 1024px) {
  .img,
  .img2 {
    width: 220px;
    height: 400px;
    margin-bottom: 0.5rem;
  }

  .imagesFlex {
    margin-top: 20vh;
    margin-left: -10vw;
  }

  .container {
    padding: 0rem !important;
  }

  .info {
    background-color: var(--white);
    z-index: 100;
  }
}

@media (max-width: 640px) {
  .container {
    height: 100%;
  }

  .img,
  .img2 {
    margin-bottom: 0rem !important;
    width: 100px;
    height: 200px;
  }

  .imagesFlex {
    margin-left: -3rem;
    margin-top: 5vh;
    display: none;
  }

  .imagesColumnLeft {
    margin-top: 3rem !important;
  }

  .imagesColumnRight {
    margin-top: -4rem;
  }

  .container {
    flex-direction: column;
  }

  .info {
    padding: 1rem;
    padding-top: 2rem;
    margin: 0;
    background-color: transparent;
    z-index: 100;
  }

  .logo {
    width: 70%;
  }
}
