.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 4rem;
  height: 93vh;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  overflow: hidden;
  margin-top: 4rem;
}

.mobileBanner {
  display: none;
}

.img,
.img2 {
  width: 17rem;
  height: 32rem;
  margin-bottom: 0.75rem;
}

.imagesFlex {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin-top: 50vh;
}

.imagesColumnLeft,
.imagesColumnRight {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: min-content;
  margin-top: -15rem;
}

.imagesColumnLeft {
  margin-top: 0rem;
}

.info {
  color: var(--black);
  margin-left: 10rem;
}

.info p {
  color: var(--grey);
}

.para {
  margin-bottom: 1.5rem;
  width: 90%;
}

.backgroundGradient {
  position: absolute;
  z-index: -10;
  background-image: linear-gradient(120deg, #89f7fe 0%, var(--blue) 100%);
  width: 65%;
  height: 50rem;
  top: 10rem;
  transform: rotate(30deg);
  left: -20rem;
  border-radius: 5rem;
}

.heading {
  font-weight: 500;
  margin: 0rem;
  color: var(--black);
}

.gradientText {
  color: var(--blue);
}

@media (max-width: 1024px) {
  .container {
    margin-top: 3.5rem;
    padding: 0rem !important;
    height: 30rem;
  }

  .img,
  .img2 {
    width: 11rem;
    height: 20rem;
    margin-bottom: 0.5rem;
  }

  .imagesFlex {
    margin-top: 20vh;
    margin-left: 3rem;
  }

  .info {
    z-index: 100;
    margin-left: 5rem;
  }

  .logo {
    width: 70%;
  }

  .para {
    width: 90%;
    margin-bottom: 1.25rem;
  }

  .backgroundGradient {
    width: 70%;
    height: 35rem;
    top: 10rem;
    transform: rotate(30deg);
    left: -16rem;
    border-radius: 2rem;
  }

  .heading {
    margin: 1rem 0rem;
  }
}

@media (max-width: 640px) {
  .container {
    height: 100%;
    width: 100%;
    margin-top: 4rem;
  }

  .mobileBanner {
    display: block;
  }

  .para {
    width: 95%;
    margin-bottom: 1.125rem;
  }

  .imagesFlex {
    margin-left: -3rem;
    margin-top: 5vh;
    display: none;
  }

  .container {
    flex-direction: column;
  }

  .info {
    padding: 0rem 1rem;
    margin: 0;
    background-color: transparent;
    z-index: 100;
    margin-top: 2rem;
  }

  .logo {
    width: 50%;
  }

  .backgroundGradientMobile {
    top: 8.5rem;
    width: 70vh;
    height: 50%;
    right: -15rem;
    position: absolute;
    z-index: -10;
    background-image: linear-gradient(120deg, #89f7fe 0%, var(--blue) 100%);
    transform: rotate(30deg);
    border-radius: 2rem;
  }

  .mobileImg {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .heading {
    margin: 0rem;
  }
}
