.img {
  width: 275px;
  height: 500px;
  margin-bottom: 0.5rem;
}

.imagesFlex {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 50%;
  transform: rotate(-30deg);
}
.imagesColumn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: min-content;
}

@media (max-width: 1024px) {
  .img {
    width: 220px;
    height: 400px;
  }
}

@media (max-width: 640px) {
  .img {
    margin-bottom: 0.25rem;
    width: 180px;
    height: 350px;
  }
}
