.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container h1 {
  margin: 0;
  margin-bottom: 1rem;
  font-weight: 500;
}

.loaderParent {
  background-color: var(--lightGrey);
  height: 0.25rem;
  width: 20rem;
  border-radius: 1rem;
  overflow: hidden;
}

.loaderChild {
  background-color: var(--blue);
  height: 0.25rem;
  width: 10rem;
}

@media (max-width: 1024px) {
  .loaderParent {
    width: 16rem;
  }

  .loaderChild {
    width: 7rem;
  }
}

@media (max-width: 640px) {
  .loaderParent {
    width: 14rem;
  }

  .loaderChild {
    width: 5rem;
  }
}
