.container {
  background-color: var(--white);
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  color: var(--black);
  width: 45%;
  height: auto;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  padding: 0rem 2rem;
  padding-bottom: 1rem;
  margin: 1rem 0rem;
  cursor: pointer;
}

.container:hover {
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  transition: 500ms ease;
}

.desc {
  margin-top: 0px;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
}
.completeText {
  margin-right: 1rem;
  font-size: 1.2rem;
}

.percentage {
  width: 20%;
  margin-right: 1rem;
  min-width: 5rem;
}

@media (max-width: 1024px) {
  .container {
    width: 100%;
    margin: 0.875rem 0rem;
    height: auto;
    padding: 0rem 1.75rem;
  }
  .percentage {
    width: 20%;
    min-width: 3rem;
    margin-right: 0.5rem;
  }
  .completeText {
    margin-right: 0.5rem;
  }
}

@media (max-width: 640px) {
  .container {
    margin: 0.75rem 0rem;
    height: auto;
  }
  .percentage {
    width: 20%;
    min-width: 3rem;
    margin-right: 0.5rem;
  }
  .completeText {
    font-size: 0.75rem;
    margin-right: 0.5rem;
  }
}
