.container {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
  background-color: var(--white);
}

.headingContainer {
  display: flex;
  align-items: center;
}

.icon {
  font-size: 2.5rem;
  margin-right: 0.5rem;
}

.clientsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow-x: auto;
  padding: 0.5rem 0rem;
  max-width: 100vw;
  overflow-y: visible;
}

.clientsContainer::-webkit-scrollbar {
  display: none;
}

@media (max-width: 1024px) {
  .container {
    margin: 4rem 0;
  }
  .icon {
    font-size: 2.25rem;
  }
  .clientsContainer {
    justify-content: start;
    padding: 0.5rem 0.25rem;
  }
}

@media (max-width: 640px) {
  .container {
    margin: 0rem 0;
    padding-top: 0rem;
  }
  .icon {
    font-size: 2rem;
    margin-right: 0.25rem;
  }
}
