.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 24rem;
  padding: 2rem 1.5rem;
  border-radius: 1rem;
  border: 1px solid #dbdbdd;
  margin: 0rem 0.75rem;
  min-height: 24rem;
}

.container h5 {
  margin: 0;
  color: var(--black);
  font-weight: 500;
  margin-top: 0rem;
}

.container p {
  color: var(--grey);
}

.priceContainer h6 {
  color: var(--black);
  font-weight: 500;
  margin-top: 0rem;
}

.priceContainer p {
  color: var(--white);
}

.container:hover {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  transition: 500ms;
}

.packName {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon {
  color: var(--blue);
  font-size: 1.75rem !important;
  margin-right: 0.25rem;
}

/* desktop breakpoint for swiper.js */
@media (max-width: 1280px) {
  .container {
    width: 24rem;
    padding: 1.75rem 1.25rem;
    margin-left: auto;
    margin-right: auto;
    min-height: 24rem;
  }
}

@media (max-width: 1024px) {
  .container {
    width: 28rem;
    padding: 1.75rem 1.25rem;
    margin-left: auto;
    margin-right: auto;
    min-height: 20rem;
  }

  .icon {
    font-size: 1.5rem !important;
  }

  .priceContainer h6 {
    margin-bottom: 2rem;
  }
}

@media (max-width: 640px) {
  .container {
    width: 18rem;
    padding: 1.5rem 1rem;
    min-height: 18rem;
  }

  .icon {
    font-size: 1.25rem !important;
  }
}
