.container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.info {
  width: 100%;
  margin-top: 1rem;
}

.text {
  color: var(--grey);
}

.title {
  color: var(--blue);
  margin-top: 0px;
}

.swiperContainer {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper {
  padding-bottom: 4rem !important;
}

.img {
  width: 72%;
  display: flex;
  margin-left: auto;
}

@media (max-width: 1024px) {
  .swiper {
    padding-bottom: 3rem !important;
  }
  .swiperContainer {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    align-items: bottom;
  }
}

@media (max-width: 640px) {
  .container {
    flex-direction: column-reverse !important;
    justify-content: center;
    align-items: center;
  }

  .img {
    width: 75%;
    margin-left: auto !important;
    margin-right: 0rem !important;
  }

  .swiperContainer {
    width: 100%;
  }
}
