.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}

.container h3 {
  color: var(--black);
}

.container h6 {
  color: var(--grey);
  margin: 1rem 0rem;
}

.img {
  width: 15rem;
  height: 28rem;
  z-index: 100;
}

.infoContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.gradient {
  position: absolute;
  width: 13rem;
  height: 26rem;
  top: 3.5rem;
  z-index: -100;
  border-radius: 1.5rem !important;
}

@media (max-width: 1024px) {
  .infoContainer {
    width: 60%;
  }

  .img {
    width: 13rem;
    height: 25rem;
  }

  .gradient {
    width: 11rem;
    height: 22rem;
    top: 4.5rem;
    z-index: -100;
    border-radius: 2rem;
  }

  .container h6 {
    margin: 0.5rem 0;
  }
}

@media (max-width: 640px) {
  .container {
    flex-direction: column !important;
    margin: 1.25rem 0rem;
  }

  .container h6 {
    margin: 0rem;
  }

  .infoContainer {
    width: 100%;
    margin: 0rem !important;
    margin-top: 1rem !important;
  }

  .img {
    margin-bottom: 0.25rem;
    width: 12rem;
    height: 22rem;
  }

  .gradient {
    top: 1.5rem;
    left: 2rem !important;
  }

  .phoneComponent {
    margin-left: -1rem;
  }

  .heading {
    width: 100%;
  }
}
