.container {
  width: 100%;
  padding: 1rem 2rem;
}

.pageDiv {
  height: 100%;
  display: flex;
}

.title {
  color: var(--dashboardTheme);
  margin-top: 0rem;
}

.introPara {
  width: 90%;
  color: var(--black);
  margin-bottom: 2rem;
}

@media (max-width: 1024px) {
  .introPara {
    width: 95%;
    margin-bottom: 1.75rem;
  }
}

@media (max-width: 640px) {
  .container {
    width: 100%;
    padding: 2rem 0.75rem;
    margin-top: 2rem;
  }

  .introPara {
    width: 100%;
    margin-bottom: 1.5rem;
  }
}
