.container {
  width: 100%;
  padding: 2rem;
  overflow-y: auto;
  height: 100vh;
}

.pageDiv {
  height: 100%;
  display: flex;
}

.title {
  color: var(--dashboardTheme);
}

.introPara {
  width: 90%;
  color: var(--black);
  margin-bottom: 2rem;
}
.title {
  margin-top: 0rem;
}

@media (max-width: 1024px) {
  /* .container {
    width: 77%;
    padding: 2rem;
    padding-top: 0rem;
  } */

  .introPara {
    width: 95%;
    margin-bottom: 1.75rem;
  }
}

@media (max-width: 640px) {
  .container {
    width: 100%;
    padding: 0rem 1rem;
    margin-top: 4.5rem;
  }

  .introPara {
    width: 100%;
    margin-bottom: 1.5rem;
  }
}
