.container {
  width: 87%;
  min-height: 100vh;
  display: block;
  margin-left: auto;
  padding: 4rem;
  padding-top: 0rem;
  margin-top: 5rem;
}

.title {
  color: var(--dashboardTheme);
}

.introPara {
  width: 90%;
  color: var(--black);
  margin-bottom: 2rem;
}

@media (max-width: 1024px) {
  .container {
    width: 77%;
    padding: 2rem;
    padding-top: 0rem;
  }

  .introPara {
    width: 95%;
    margin-bottom: 1.75rem;
  }
}

@media (max-width: 640px) {
  .container {
    width: 100%;
    padding: 0rem 1rem;
    margin-top: 4.5rem;
  }

  .introPara {
    width: 100%;
    margin-bottom: 1.5rem;
  }
}
