.sideBarDiv {
  height: 100vh;
}

.mobileNavbar {
  display: none;
}

.expandIcon {
  color: var(--white);
  font-size: 1.8rem;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  padding: 0.2rem;
}
.header {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 3rem;
  padding: 0.75rem;
  border-bottom: 1px solid var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 640px) {
  .sideBarDiv {
    display: hidden;
  }
  /* .drawerIcon {
    display: block;
    position: absolute;
    margin: 1rem;
    border: 1.5px solid var(--black);
    border-radius: 50%;
    padding: 0.25rem;
    height: 2rem;
    width: 2rem;
  } */
  .mobileNavbar {
    display: flex;
    color: var(--black);
    cursor: pointer;
    background-color: var(--white);
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    position: fixed;
    width: 100vw;
    height: 3rem;
    top: 0;
    justify-content: flex-start;
    align-items: center;
    padding: 0.75rem;
  }
}
